<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить клиента</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/c_operator.css}">
</head>
<body>
<div class="area">
    <!-- Включение фрагмента меню -->
    <div th:replace="~{fragments/menu :: nav}"></div>
    <div class="content">
        <h1>Добавить клиента</h1>
        <div class="content-center">
            <form th:action="@{/admin/clients/add}" th:object="${clientDto}" method="post">
                <!-- Форма для добавления клиента -->
                <div class="form__item">
                    <label for="firstName" class="form__label">Имя:</label>
                    <input type="text" id="firstName" name="firstName" class="form__input" th:field="*{firstName}"
                           required>
                    <span class="form__error" th:if="${#fields.hasErrors('firstName')}"
                          th:errors="*{firstName}"></span>
                </div>
                <div class="form__item">
                    <label for="lastName" class="form__label">Фамилия:</label>
                    <input type="text" id="lastName" name="lastName" class="form__input" th:field="*{lastName}"
                           required>
                    <span class="form__error" th:if="${#fields.hasErrors('lastName')}"
                          th:errors="*{lastName}"></span>
                </div>

                <div class="form__item">
                    <label for="patronymic" class="form__label">Отчество:</label>
                    <input type="text" id="patronymic" name="patronymic" class="form__input" th:field="*{patronymic}">
                    <span class="form__error" th:if="${#fields.hasErrors('patronymic')}"
                          th:errors="*{patronymic}"></span>
                </div>

                <div class="form__item">
                    <label for="phoneNumber" class="form__label">Телефон:</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form__input" th:field="*{phoneNumber}"
                           placeholder="+7-000-000-00-00" required>
                    <span class="form__error" th:if="${#fields.hasErrors('phoneNumber')}"
                          th:errors="*{phoneNumber}"></span>
                </div>

                <div class="form__item">
                    <label for="age" class="form__label">Возраст:</label>
                    <input type="number" id="age" name="age" class="form__input" th:field="*{age}">
                    <span class="form__error" th:if="${#fields.hasErrors('age')}"
                          th:errors="*{age}"></span>
                </div>

                <div class="form__item">
                    <label for="city" class="form__label">Город:</label>
                    <div class="form__item" id="city" th:replace="~{fragments/cities :: select.form-select}"></div>
                </div>

                <div class="block_btn">
                    <input type="submit" value="Добавить" class="form__btn"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/expande.js}"></script>
</body>
</html>